@font-face {
  font-family: 'Marmelad';
  src: local('Marmelad'), url(../public/fonts/Marmelad/Marmelad-Regular.ttf) format('truetype');
}

body {
  width: 100%;
  min-height: 100%;
  background-image: url("../src/assets/background.png");
}

.panel {
  font-family: 'Marmelad';
  text-align: center;

  color: #DF7453;
  background-color: #F9C270;

  border-radius: 10px;
  display: inline;
  justify-content: center;
  padding: 10px;
  border: 3px solid #AB7A30;
  margin: 0 100px;
}

.button {
  background-image: url("../src/assets/plank.png");
  background-size: auto;

  font-family: 'Marmelad';
  color: #7B4D09;
  text-align: center;
  border: 3px solid #AB7A30;

  border-radius: 10px;
  padding: 10px;
}

.entry {
  font-size: 15pt;
  color: #DF7453;
  background-color: #FFE1B4;

  border: 0;
  border-radius: 10px;
}

.h1 {
  font-size: 96px;
  font-family: 'Marmelad';
  color: #DF7453;
  -webkit-text-stroke: 1px black;
}

.player {
  font-family: 'Marmelad';
  text-align: center;
  
  color: #7B4D09;
  background-image: url("../src/assets/plank.png");
  background-size: 100%;

  border-radius: 10px;
  display: inline;
  justify-content: center;
  padding: 10px;
  border: 3px solid #AB7A30;
  margin: 0 100px;
}